/* -----------------------------------basic styles------------------------------------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'audiowide-regular-webfont';
    src: url('../fonts/audiowide-regular-webfont.ttf');
}
body{
    font-family: 'audiowide-regular-webfont';
}
:root{
    --color1:#620031;
    --color2:#ffffff;
    --color3:#000000;
    --color4:#a3a3a3;
    --color5:#ab000b;
    --color6:#3c0f38;
    --color7:rgba(98, 0, 49, 0.91);
    --color8:rgba(98, 0, 49, 0.91);
}

/* -----------------------------------------header styles-------------------------------------------- */
header{
    background: url('../images/bg-home.jpg') center;
    height: 98vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    position: relative;
}
.navBox{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    display: flex;
    justify-content: center;
}
.navBox nav{
    width: 66%;
    display: flex;
    justify-content: space-between;
}
.navBox nav .mainMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 65%;
}
.navBox nav .mainMenu li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: normal;
    color: var(--color2);
    padding: 0 24px;
    transition: all .1ms ease;
}
.navBox nav .mainMenu li a:hover{
    background: var(--color1);
    padding: 22px 24px 20px 24px;
}
.navBox nav .mainMenu li a.active{
    background: var(--color3);
    padding: 22px 24px 20px 24px;
    color: var(--color4);
}
.projectItem{
    position: absolute;
    top: 60px;
    min-height: 60px;
    width: auto;
    padding: 22px 0px;
    background: var(--color1);
    color: var(--color2);
    list-style-type: none;
    display: none;
    margin-left: 15px;
}
.blogItem{
    position: absolute;
    top: 60px;
    min-height: 60px;
    width: auto;
    padding: 22px 0px;
    background: var(--color1);
    color: var(--color2);
    list-style-type: none;
    display: none;
    margin-left: -35px;
}
.navBox nav .mainMenu :nth-child(3):hover .projectItem{
    display: block;
}
.navBox nav .mainMenu :nth-child(4):hover .blogItem{
    display: block;
}

/* -----------------------------------main banner styles----------------------------------------- */
.bannerBox{
    width: 100%;
    margin: 40px 0 0 0;
    position: relative;
}
.contentBox{
    width: 66%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.bannerImgBox{
    z-index: 10;
}
.nameBannerBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: auto;
}
.textBannerBox{
    padding: 137px 0;
    position: relative;
    margin-left: -112px;
}
.textBannerBox h1{
    font-size: 60px;
    text-align: center;
    color: var(--color2);
    text-wrap: nowrap;
    font-weight: normal;
}
.textBannerBox h2{
    font-size: 43px;
    text-align: center;
    font-family: Arial;
    color: var(--color2);
    font-weight: normal;
    padding-top: 17px;
}
.textBannerBox a{
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--color3);
    color: var(--color4);
    text-decoration: none;
    width: 180px;
    height: 49px;
    position: relative;
    display: block;
    text-align: center;
    line-height: 49px;
    font-family: Arial;
    margin: auto;
    margin-top: 32px;
    transition: all .1ms ease;
}
.textBannerBox a:hover{
    background-color: var(--color5);
    color: var(--color2);
}
.projectPhotosBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: -42px 0 0 0;
}
.projectPhotosBox h3{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 23px;
    color: var(--color4);
    font-weight: normal;
    line-height: 55px;
}
.projectPhotosBox ul{
    list-style-type: none;
    display: flex;
}
.projectPhotosBox ul li a img:hover{
    opacity: .7;
}

/* -------------------------------------mission-------------------------------------- */
.missonSection{
    width: 100%;
    background-color: var(--color1);
    height: auto;
    display: flex;
    justify-content: center;
}
.missionContent{
    width: 54%;
}
.missonSection .missionContent h3{
    font-size: 32px;
    text-align: center;
    color: var(--color2);
    font-family:  audiowide-regular-webfont;
    font-weight: normal;
    padding: 25px 0 20px 0;
}
.missonSection .missionContent p{
    color: var(--color2);
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    padding: 0 0 30px 0;
}

/* ------------------------------detail of the website------------------------------ */
.detailSection{
    width: 100%;
    height: auto;
    background-color: var(--color3);
}
.detailContent{
    width: 66%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.videoBox{
    position: relative;
    height: 428px;
}
.videoBox h3{
    color: var(--color2);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    padding: 25px 0 35px 0;
}
.videoBox a{
    display: block;
    height: 258px;
    margin: 0;
    position: relative;
    padding: 0;
    width: 460px;
}
.videoBox a img{
    transition: all 2ms ease;
    position: relative;
}
.videoBox a:hover img{
    filter: opacity(0.7);
    -webkit-filter: opacity(0.7);
}
.videoBox a:hover span{
    background: url('../images/icons.png') no-repeat 0 -226px;
}
.videoBox a  span{
    background: url('../images/icons.png') no-repeat 0 -152px;
    display: block;
    position: relative;
    top:-170px ;
    left: 200px;
    height: 72px;
    width: 62px;
    z-index: 1;
    opacity: 1;
}
.blogBox h3{
    font-size: 32px;
    font-weight: normal;
    color: var(--color2);
    padding: 25px 0 35px 0;
    text-transform: uppercase;
}
.blogBox ul{
    height: 258px;
    display: grid;
    grid-template-rows: repeat(3,90px 1px 90px);
    gap: 37px;
    list-style-type: none;
}
.blogBox ul li h4{
    color: var(--color4);
    font-size: 23px;
    font-weight: normal;
    padding: 2px 17px;
    float: right;
}
.blogBox ul li:last-child h4{
    padding: 2px 36px 0 0;
}
.blogBox ul li a:hover img{
    filter: opacity(0.6);
    -webkit-filter: opacity(0.6);
}
.blogBox ul li span{
    color: var(--color2);
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    float: right;
    margin-top: -57px;
    margin-right: 193px;
}
.blogBox ul hr{
    width: 100%;
    border-top: var(--color4) 1px solid;
}
.blogBox ul li #blogBtn{
    text-decoration: none;
    color: var(--color2);
    font-family: Arial;
    text-transform: uppercase;
    float: right;
    background-color: var(--color6);
    padding: 7px 17px;
    font-weight: normal;
    font-size: 14px;
    margin: -35px 0;
    transition: all 2ms ease;
}
.blogBox ul li #blogBtn:hover{
    background-color: var(--color1);
}

/* ------------------------------footer------------------------------ */
footer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2,84px);
    gap: 0;
}
footer .socialMediaContainer{
    background-color: var(--color4);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 84px;
    position: relative;
}
footer .socialMediaContainer .contentBox{
    display: flex;
    position: relative;
    flex-direction: row;
    margin: auto;
    width: 650px;
    justify-content: space-between;
    height: 100%;
}
footer .socialMediaContainer h5{
    color: var(--color2);
    font-family: audiowide-regular-webfont;
    font-size: 23px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 84px;
}
footer .socialMediaContainer .iconBox{
    height: 100%;
    display: flex;
    align-items: center;
}
footer .socialMediaContainer .iconBox a{
    padding: 0 10px;
}
footer .socialMediaContainer .contentBox .iconBox a i{
    font-size: 45px;
    color: var(--color2);
    transition: all 2ms ease;
}
footer .socialMediaContainer .contentBox .iconBox a i:hover{
    color: #d8d1d1;
}
footer .footNote{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footNote p{
    font-size: 12px;
    font-family: Arial;
    color: var(--color3);
}


/* ---------About------------------------------------------------------------------------------------------------------ */
/*-------------------- banner about --------------------*/
.aboutContainer{
    width: 100%;
    background:url('../images/bg-about.jpg')no-repeat center top #000000;
    padding: 0;
    min-height: 455px;
    position: relative;
}
.aboutContainer .aboutContent{
    width: 820px;
    margin: auto;
    padding: 60px 0 0 0;
}
.aboutContainer .aboutContent h1{
    color: var(--color2);
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}
.aboutContainer .aboutContent h2{
    font-size: 32px;
    color: var(--color2);
    text-align: center;
    font-weight: normal;
    padding: 75px 0 0 0;
}
.aboutContainer .aboutContent p{
    font-size: 18px;
    line-height: 24px;
    color: var(--color2);
    text-align: center;
    font-family: Arial;
    display: block;
    padding: 20px 0;
}
.aboutContainer .aboutContent p a{
    color: var(--color2);
}
.aboutContainer .aboutContent p a:hover{
    color: var(--color4);
}

/* --------------------more section-------------------- */
.moreSection{
    width: 100%;
    height: 253px;
    background:var(--color1);
    z-index: 1;
    position: relative;
}
.moreSection .moreContent{
    width: 66%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}
.moreSection .moreContent .moreTextContent{
    width: 624px;
}
.moreSection .moreContent .moreImgContent{
    width: 282px;
}
.moreSection .moreContent .moreTextContent h3{
    font-size: 23px;
    color: var(--color4);
    font-weight: normal;
    padding: 15px 0 0 0;
}
.moreSection .moreContent .moreTextContent p{
    font-size: 14px;
    color: var(--color2);
    font-family: Arial;
    line-height: 25px;
    padding: 20px 0;
}
.moreSection .moreContent .moreTextContent p a{
    color: var(--color2);
}
.moreSection .moreContent .moreTextContent p a:hover{
    color: var(--color4);
}
.moreImgContent img{
    width: 100%;
}

/* -------------------- community section--------------------  */
.communitySection{
    width: 100%;
    height: 360px;
    background-color: var(--color3);
}
.communitySection .communityContent{
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 80px 0 0 0;
}
.communitySection .communityContent .communityImgContent{
    width: 372px;
}
.communitySection .communityContent .communityTextContent{
    width: 588px;
}
.communitySection .communityContent .communityTextContent h3{
    color: var(--color4);
    font-size: 23px;
    font-weight: normal;
    padding: 30px 0 0 15px;
}
.communitySection .communityContent .communityTextContent p{
    color: var(--color2);
    font-size: 18px;
    font-family: Arial;
    font-weight: normal;
    padding: 20px 0 0 15px;
    line-height: 25px;
}
.communitySection .communityContent .communityTextContent p a{
    color: var(--color2);
}
.communitySection .communityContent .communityTextContent p a:hover{
    color: var(--color4);
}

/* -------------------- detail section--------------------  */
.detailSection{
    width: 100%;
    height: 234px;
    background-color: var(--color6);
}
.detailTextContent{
    width: 54%;
    margin: auto;
    padding: 60px 0 ;
}
.detailSection .detailTextContent h3{
    color: var(--color4);
    font-size: 23px;
    font-weight: normal;
    text-align: center;
} 
.detailSection .detailTextContent p{
    color: var(--color2);
    font-size: 14px;
    text-align: center;
    font-family: Arial;
    line-height: 25px;
    padding: 20px 0 0 0;
}
.detailSection .detailTextContent p a{
    color: var(--color2);
}
.detailSection .detailTextContent p a:hover{
    color: var(--color4);
}


/* ---------projects----------------------------------------------------- */
/*--------------------  main banner -------------------- */
.projectBannerSection{
    width: 100%;
    height: 784px;
    background-color: var(--color3);
}
.projectBannerContainer{
    width: 66%;
    margin: auto;
}
.projectBannerContainer .ProjectTitleBox{
    width: 100%;
    height: 190px;
}
.projectBannerContainer .ProjectTitleBox h1{
    font-size: 36px;
    color: var(--color2);
    justify-content: center;
    padding: 60px 0 0 0;
    display: flex;
    font-weight: normal;
}
.proj1Box{
    height: 255px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.proj1Box .imgProj1Content{
    width: 380px;
}
.proj1Box .imgProj1Content img{
    cursor: pointer;
}
.proj1Box .imgProj1Content img:hover{
    opacity: 0.7;
}
.proj1Box .textProj1Content{
    width: 520px;
}
.proj1Box .textProj1Content h2{
    color: var(--color4);
    font-size: 23px;
    font-weight: normal;
}
.proj1Box .textProj1Content p{
    font-size: 14px;
    line-height: 24px;
    color: var(--color2);
    padding: 25px 0 0 0;
    font-family: Arial;
}
.proj1Box .textProj1Content a{
    color: var(--color2);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 14px;
    background-color: var(--color6);
    padding: 7px 18px;
    position: relative;
    top: 38px;
    float: right;
}
.proj1Box .textProj1Content a:hover{
    background-color: #620031;
}
.projectBannerContainer hr{
    border: var(--color4) solid 1px;
}
.proj2Box{
    height: 255px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0 0;
}
.proj2Box .imgProj2Content{
    width: 380px;
}
.proj2Box .imgProj2Content img{
    cursor: pointer;
}
.proj2Box .imgProj2Content img:hover{
    opacity: 0.7;
}
.proj2Box .textProj2Content{
    width: 520px;
}
.proj2Box .textProj2Content h2{
    color: var(--color4);
    font-size: 23px;
    font-weight: normal;
}
.proj2Box .textProj2Content p{
    font-size: 14px;
    line-height: 24px;
    color: var(--color2);
    padding: 25px 0 0 0;
    font-family: Arial;
}
.proj2Box .textProj2Content a{
    color: var(--color2);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 14px;
    background-color: var(--color6);
    padding: 7px 18px;
    position: relative;
    top: 38px;
    float: right;
}
.proj2Box .textProj2Content a:hover{
    background-color: #620031;
}


/* -----project1 styles--------------------------------------------- */
.projectItem{
    display: block;
    background-color: var(--color3);
}
.bannerProj1Section{
    width: 100%;
    background-color: var(--color3);
    height: 910px;
}
.contentBannerProj1{
    width: 66%;
    margin: auto;
}
.contentBannerProj1 .proj1Title{
    width: 100%;
}
.contentBannerProj1 .proj1Title h1{
    color: var(--color2);
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    padding: 60px 0 85px 0;
    text-transform: uppercase;
}
.contentBannerProj1 .imgProj1{
    width: 100%;
}
.contentBannerProj1 .textProj1{
    width: 84%;
    margin: auto;
}
.contentBannerProj1 .textProj1 h2{
    font-size: 23px;
    font-weight: normal;
    color: var(--color4);
    text-align: center;
    padding: 40px 0 0 0;
}
.contentBannerProj1 .textProj1 p{
    color: var(--color2);
    font-size: 14px;
    font-family: Arial;
    text-align: center;
    line-height: 24px;
    padding: 30px 0 0 0;
}
.contentBannerProj1 .textProj1 p:last-child{
    padding: 50px 0 0 0;
}










