/* -----------------------------------basic styles------------------------------------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'audiowide-regular-webfont';
    src: url('../fonts/audiowide-regular-webfont.ttf');
}
body{
    font-family: 'audiowide-regular-webfont';
}
:root{
    --color1:#620031;
    --color2:#ffffff;
    --color3:#000000;
    --color4:#a3a3a3;
    --color5:#ab000b;
    --color6:#3c0f38;
    --color7:rgba(98, 0, 49, 0.91);
    --color8:rgba(98, 0, 49, 0.91);
}

/* -----------------------------------------header styles-------------------------------------------- */
header{
    background: url('../images/bg-home.jpg') center;
    height: 98vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
}
.navBox{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    display: flex;
    justify-content: center;
}
.navBox nav{
    width: 66%;
    display: flex;
    justify-content: space-between;
}
.navBox nav .mainMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 65%;
}
.navBox nav .mainMenu li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: normal;
    color: var(--color2);
    padding: 0 24px;
    transition: all .1ms ease;
}
.navBox nav .mainMenu li a:hover{
    background: var(--color1);
    padding: 22px 24px 20px 24px;
}
.navBox nav .mainMenu li a.active{
    background: var(--color3);
    padding: 22px 24px 20px 24px;
    color: var(--color4);
}
.projectItem{
    position: absolute;
    top: 60px;
    min-height: 60px;
    width: auto;
    padding: 22px 0px;
    background: var(--color1);
    color: var(--color2);
    list-style-type: none;
    display: none;
    margin-left: 15px;
}
.blogItem{
    position: absolute;
    top: 60px;
    min-height: 60px;
    width: auto;
    padding: 22px 0px;
    background: var(--color1);
    color: var(--color2);
    list-style-type: none;
    display: none;
    margin-left: -35px;
}
.navBox nav .mainMenu :nth-child(3):hover .projectItem{
    display: block;
}
.navBox nav .mainMenu :nth-child(4):hover .blogItem{
    display: block;
}

/* ------------------------------------banner styles----------------------------------------- */
.bannerBox{
    width: 100%;
    margin: 40px 0 0 0;
    position: relative;
}
.contentBox{
    width: 66%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.bannerImgBox{
    z-index: 10;
}
.nameBannerBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: auto;
}
.textBannerBox{
    padding: 137px 0;
    position: relative;
    margin-left: -112px;
}
.textBannerBox h1{
    font-size: 60px;
    text-align: center;
    color: var(--color2);
    text-wrap: nowrap;
    font-weight: normal;
}
.textBannerBox h2{
    font-size: 43px;
    text-align: center;
    font-family: Arial;
    color: var(--color2);
    font-weight: normal;
    padding-top: 17px;
}
.textBannerBox a{
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--color3);
    color: var(--color4);
    text-decoration: none;
    width: 180px;
    height: 49px;
    position: relative;
    display: block;
    text-align: center;
    line-height: 49px;
    font-family: Arial;
    margin: auto;
    margin-top: 32px;
    transition: all .1ms ease;
}
.textBannerBox a:hover{
    background-color: var(--color5);
    color: var(--color2);
}
.projectPhotosBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: -40px 0 0 0;
}
.projectPhotosBox h3{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 23px;
    color: var(--color4);
    font-weight: normal;
    line-height: 55px;
}
.projectPhotosBox ul{
    list-style-type: none;
    display: flex;
}
.projectPhotosBox ul li a img:hover{
    opacity: .7;
}















